.home_page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 7% 83%;
  text-align-last: left;
}
/* Header */
.home_page header {
  width: 100%;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  grid-column: span 2;
}
.home_page header {
  display: flex;
  padding-top: 0.8%;
  padding-left: 1.5%;
}
.home_page header img {
  width: 48px;
  height: 48px;
}
.home_page header h2 {
  font-size: 20px;
  color: #096dd9;
  margin-left: 0.8%;
  margin-top: 0.5%;
}
/* Header */

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-row: span 2;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.navbar h3 {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.45);
}
.second_header span,
.navbar span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
}
.navbar span {
  margin-left: 5%;
}
.navbar_home {
  display: flex;
  margin-top: 8%;
  margin-left: 9%;
}
.navbar_home img {
  height: 30px;
  width: 31px;
}
.navbar_home h3 {
  margin-left: 7%;
}
.navbar_fooer {
  display: flex;
  flex-direction: column;
}
.navbar_fooer h3 {
  color: #d9d9d9;
  margin-left: 5%;
  margin-bottom: 7%;
}
.navbar_fooer svg {
  font-size: 34px;
}
.icon_group {
  display: flex;
  margin-bottom: 5%;
}
/* Navbar */

/* Second Header */
.second_header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
.second_header span {
  margin-left: 3%;
  margin-top: 0.7%;
}
.second_header h1 {
  font-size: 24px;
  line-height: 32px;
  color: #1890ff;
  margin-top: 0.7%;
}
.second_header svg {
  font-size: 30px;
  margin-left: -35%;
  margin-top: 5%;
}
/* Second Header */

/* Main content */
.main {
  background-color: rgb(238, 238, 238);
}
.info {
  display: flex;
  margin-left: 55%;
  margin-top: 5%;
}
.info_title {
  display: flex;
}
.info_block1 {
  width: 150px;
}
.info_block2 {
  margin-left: 2%;
  width: 110px;
}
.info_block3 {
  width: 110px;
}
.info_block4 {
  width: 150px;
}
.circle_one,
.circle_two,
.circle_three,
.circle_four {
  width: 6px;
  height: 6px;
  border-radius: 33px;
  margin-right: 10%;
  margin-top: 4%;
}
.circle_one {
  background: #1890ff;
}
.circle_two {
  background-color: #52c41a;
}
.circle_three {
  background-color: #faad14;
}
.circle_four {
  background-color: #ff4d4f;
}
.info span {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
}

.info h3 {
  font-size: 24px;
  line-height: 32px;
  margin-left: 8%;
}
.info img {
  margin-top: 2%;
}
.info_block2 img {
  width: 20px;
  height: 22px;
}
.info_block3 img {
  width: 21px;
  height: 21px;
  margin-top: 5%;
}
.info_block4 img {
  width: 19px;
  height: 24px;
}
.info_data {
  display: flex;
  margin-left: 15%;
}
.search {
  margin-left: 2%;
}
.table_block {
  margin-left: 2%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
/* Main content */
@media (max-width: 1210px) {
  .info {
    margin-left: 30%;
    margin-bottom: 1%;
  }
}
