.holand header {
  display: flex;
  margin-left: 5%;
  margin-top: 3%;
}

.progress {
  width: 80%;
  margin-left: 5%;
  margin-top: 1%;
}
.test_content {
  margin-top: 5%;
}
.options {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
  margin-bottom: 2%;
}
.options button,
.options label {
  height: 50px;
  width: 220px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 8px 16px;
  border: 1px solid #bfbfbf;
  border-radius: 2px 0px 0px 2px;
}
.test_content h1 {
  margin-bottom: 3%;
}
.test_content span {
  font-size: 20px;
  line-height: 32px;
}
.test_content p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0.5%;
}
.allright {
  width: 500px;
  height: 40px;
}
