.gatb header {
  display: flex;
  margin-left: 5%;
  margin-top: 3%;
}

.progress {
  display: flex;
  width: 70%;
  margin-left: 5%;
  margin-top: 1%;
}
.countdown {
  height: 100px;
  width: 100px;
  left: 0px;
  top: 0px;
  border-radius: 21px;
  margin-left: 8%;
}
.test_content h1 {
  margin-bottom: 3%;
}
.time_warning {
  font-size: 18px;
  line-height: 32px;
  color: #1890ff;
}
.test_content span {
  font-size: 18px;
}
.test_content p {
  width: 50%;
  font-size: 20px;
  line-height: 32px;
  margin-top: 0.5%;
  margin-left: 25%;
}
.allright {
  width: 500px;
  height: 40px;
  margin-top: 2%;
}
.pictures {
  display: flex;
  justify-content: center;
}
.task2 {
  margin-left: 5%;
}
.task_block {
  position: relative;
}

.aria_l_1,
.aria_r_1,
.aria_l_2,
.aria_r_2,
.aria_l_3,
.aria_r_3,
.aria_l_4,
.aria_r_4,
.aria_l_5,
.aria_r_5,
.aria_l_6,
.aria_r_6,
.aria_l_7,
.aria_r_7,
.aria_l_8,
.aria_r_8,
.aria_l_9,
.aria_r_9,
.aria_l_10,
.aria_r_10,
.aria_l_11,
.aria_r_11,
.aria_l_12,
.aria_r_12,
.aria_l_13,
.aria_r_13,
.aria_l_14,
.aria_r_14,
.aria_l_15,
.aria_r_15,
.aria_l_16,
.aria_r_16,
.aria_l_17,
.aria_r_17,
.aria_l_18,
.aria_r_18,
.aria_l_19,
.aria_r_19,
.aria_l_20,
.aria_r_20,
.aria_l_21,
.aria_r_21,
.aria_l_22,
.aria_r_22,
.aria_l_23,
.aria_r_23,
.aria_l_24,
.aria_r_24,
.aria_l_25,
.aria_r_25 {
  position: absolute;
}
.aria_l_1,
.aria_r_1,
.aria_l_2,
.aria_r_2 {
  width: 50px;
  height: 30px;
}
.aria_l_1 {
  bottom: 260px;
  left: 25px;
  transform: rotate(-70deg);
}
.aria_l_1 img {
  transform: rotate(70deg);
}
.aria_r_1 {
  left: 370px;
  bottom: 30px;
}
.aria_l_2 {
  bottom: 255px;
  left: 85px;
  transform: rotate(-90deg);
}
.aria_l_2 img {
  transform: rotate(90deg);
}
.aria_r_2 {
  bottom: 120px;
  left: 150px;
  transform: rotate(20deg);
}
.aria_r_2 img {
  transform: rotate(-20deg);
}
.aria_l_3 {
  width: 40px;
  bottom: 260px;
  left: 145px;
}
.aria_r_3 {
  height: 40px;
  left: 310px;
  bottom: 120px;
}
.aria_l_4 {
  width: 30px;
  bottom: 257px;
  left: 210px;
}
.aria_r_4 {
  bottom: 30px;
  left: 280px;
  width: 50px;
}
.aria_l_5 {
  width: 47px;
  bottom: 255px;
  left: 265px;
}
.aria_r_5 {
  width: 50px;
  left: 230px;
  bottom: 90px;
}
.aria_l_6 {
  transform: rotate(-25deg);
  height: 50px;
  bottom: 240px;
  left: 340px;
}
.aria_r_6 {
  width: 30px;
  height: 53px;
  bottom: 156px;
  left: 265px;
  transform: rotate(60deg);
}
.aria_r_6 img {
  transform: rotate(-60deg);
}
.aria_l_7 {
  width: 50px;
  bottom: 260px;
  left: 390px;
}
.aria_r_7 {
  width: 43px;
  bottom: 225px;
  left: 280px;
}
.aria_l_8 {
  width: 55px;
  height: 25px;
  bottom: 195px;
  left: 67px;
  transform: rotate(-20deg);
}
.aria_r_8 {
  width: 55px;
  height: 25px;
  left: 335px;
  bottom: 95px;
  transform: rotate(-60deg);
}
.aria_r_8 img {
  transform: rotate(60deg);
}
.aria_l_9 {
  bottom: 197px;
  left: 160px;
}
.aria_r_9 {
  left: 205px;
  bottom: 40px;
}
.aria_l_10 {
  height: 25px;
  width: 60px;
  bottom: 194px;
  left: 206px;
  transform: rotate(90deg);
}
.aria_l_10 img {
  transform: rotate(-90deg);
}
.aria_r_10 {
  height: 60px;
  width: 30px;
  left: 70px;
  bottom: 100px;
  transform: rotate(-65deg);
}
.aria_r_10 img {
  transform: rotate(65deg);
}
.aria_l_11 {
  width: 50px;
  bottom: 200px;
  left: 274px;
  transform: rotate(20deg);
}
.aria_r_11 {
  height: 45px;
  left: 190px;
  bottom: 150px;
}
.aria_l_12 {
  width: 80px;
  bottom: 185px;
  left: 360px;
}
.aria_r_12 {
  width: 80px;
  bottom: 230px;
  left: 200px;
  transform: rotate(85deg);
}
.aria_l_13 {
  bottom: 125px;
  left: 20px;
}
.aria_r_13 {
  bottom: 156px;
  left: 396px;
}
.aria_l_14 {
  width: 70px;
  bottom: 130px;
  left: 70px;
}
.aria_r_14 {
  height: 70px;
  left: 420px;
  bottom: 216px;
}
.aria_l_15 {
  bottom: 100px;
  height: 75px;
  left: 165px;
  transform: rotate(-25deg);
}
.aria_r_15 {
  height: 75px;
  bottom: 65px;
  left: 410px;
  transform: rotate(30deg);
}
.aria_l_16 {
  bottom: 120px;
  left: 215px;
}
.aria_r_16 {
  bottom: 222px;
  left: 130px;
}
.aria_l_17 {
  width: 60px;
  height: 20px;
  bottom: 130px;
  left: 270px;
  transform: rotate(30deg);
}
.aria_r_17 {
  width: 20px;
  height: 60px;
  bottom: 160px;
  left: 130px;
  transform: rotate(30deg);
}
.aria_l_18 {
  height: 60px;
  bottom: 110px;
  left: 340px;
}
.aria_r_18 {
  width: 60px;
  bottom: 265px;
  left: 130px;
}
.aria_l_19 {
  height: 70px;
  bottom: 100px;
  left: 390px;
}
.aria_r_19 {
  height: 70px;
  bottom: 220px;
  left: 380px;
}
.aria_l_20 {
  height: 40px;
  bottom: 45px;
  left: 35px;
}
.aria_r_20 {
  height: 40px;
  bottom: 180px;
  left: 335px;
}
.aria_l_21 {
  bottom: 45px;
  left: 100px;
}
.aria_r_21 {
  width: 40px;
  bottom: 265px;
  left: 310px;
}
.aria_l_22 {
  height: 50px;
  bottom: 30px;
  left: 170px;
}
.aria_r_22 {
  width: 50px;
  left: 50px;
  bottom: 50px;
}
.aria_l_23 {
  height: 70px;
  bottom: 25px;
  left: 246px;
  transform: rotate(-33deg);
}
.aria_r_23 {
  height: 70px;
  bottom: 40px;
  left: 125px;
}
.aria_l_24 {
  height: 50px;
  bottom: 37px;
  left: 320px;
}
.aria_r_24 {
  height: 50px;
  bottom: 170px;
  left: 50px;
}
.aria_l_25 {
  height: 50px;
  bottom: 30px;
  left: 380px;
}
.aria_r_25 {
  width: 55px;
  bottom: 250px;
  left: 50px;
  transform: rotate(30deg);
}
.aria_r_25 img {
  transform: rotate(-30deg);
}
