.usk {
  overflow: hidden;
}
.usk header {
  display: flex;
  margin-left: 5%;
  margin-top: 3%;
}

.progress {
  width: 80%;
  margin-left: 5%;
  margin-top: 1%;
}
.test_content {
  margin-top: 5%;
}
.test_content h1 {
  margin-bottom: 3%;
}

.test_content p {
  width: 50%;
  font-size: 20px;
  line-height: 32px;
  margin-top: 0.5%;
  margin-left: 25%;
  font-weight: bold;
}
.helper_sign {
  font-size: 16px;
  line-height: 24px;
}
.allright {
  width: 500px;
  height: 40px;
  margin-top: 2%;
}
.question_block {
  display: flex;
  margin-left: 25%;
}
.question {
  width: 33%;
  padding: 2%;
  height: 99%;
  border: 1px black solid;
}
.question p {
  font-size: 24px;
  line-height: 46px;
  font-weight: bold;
}
.options {
  width: 50%;
}
.options label {
  width: 80%;
  height: 48px;
  margin-bottom: 0.5%;
  font-weight: bold;
}
