.auth_page {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 100vh;
  color: #fff;
}
/* Sidebar */
.sidebar {
  background-color: #1890ff;
  padding-top: 30%;
  text-align: center;
}
.sidebar h1 {
  color: #fff;
  padding-top: 7%;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
}
.help_sign {
  padding-top: 2%;
  opacity: 0.5;
  font-size: 16px;
  padding-bottom: 4%;
}
.sidebar button {
  width: 224px;
  background-color: #1890ff;
  border: white solid 1px;
}
/* Sidebar */

/* Form */
.main form {
  width: 619px;
  margin-top: 6%;
  margin-left: 15%;
}
.login {
  margin-top: 30%;
}
.main h1 {
  font-size: 38px;
  line-height: 46px;
  color: #1890ff;
  margin-bottom: 9%;
}
.main form input {
  height: 56px;
  background: #f5f5f5;
  border-radius: 2px;
  padding: 0px 16px;
  border: none;
  box-shadow: -7px 8px 4px -7px rgba(34, 60, 80, 0.14);
}
.main form button {
  height: 40px;
  width: 224px;
  border: 2px solid #1890ff;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  margin-top: 2%;
}
/* Form */

/* Fields group */
.block_1,
.email,
.password_group,
.login_password {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-column-gap: 1%;
}
.acception {
  display: flex;
  margin-left: 9%;
}
.acception p {
  margin-left: 2%;
  margin-top: 1%;
}
/* Fields group */

/* Form fields */
.block_1_fields {
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-column-gap: 1.5%;
}
.last_name {
  grid-column: span 2;
}
.first_name {
  margin-top: -8%;
}
.patronymic {
  margin-top: -4%;
}
.password_field {
  margin-top: -3%;
}
/* Form fields */

/* Icons */
.user_icon,
.email svg,
.password_group svg,
.login_password svg {
  color: #1890ff;
  font-size: 40px;
}
.user_icon {
  margin-top: 50%;
}
.password_group svg {
  margin-top: 100%;
}
.email svg,
.login_password svg {
  margin-top: 20%;
}

/* Icons */
